body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    text-align: center
}

* {
    box-sizing: border-box;
}

.fa, .fas {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #EC4D3C;
    z-index: 2;
    font-size: 24px;
}

.open-nav {
    list-style: none;
    text-align: left;
    width: 300px;
    height: 300px;
    position: absolute;
    top: -60px;
    right: -60px;
    padding-top: 130px;
    z-index: 1;
    background-color: #13D1FC;
    border-radius: 100%;
    color: white
}

ul li {
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    word-spacing: 5px
}

ul li span {
    font-style: italic;
    font-weight: 400
}

.background-image {
    width: 100%;
    opacity: 0.5;
}

nav header h1 {
    color: #13D1FC;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
}

nav header span h1 {
    margin-top: -5px;
    font-weight: 700;
}

.hacker {
    letter-spacing: 2px;
}

.headline {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    padding: 0 25px
}

.headline h1 {
    font-size: 26px;
}

main h3 {
    font-size: 16px;
    padding: 0 15px;
    color: #6680D2;
}

form {
    padding-top: 30px;
    width: 360px;
    margin-left: auto;
    margin-right: auto
}

.search-input {
    width: 70%;
    border: none;
    color: #5A6B97;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    height: 30px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700
}

.search-input::placeholder {
    font-size: 24px;
    font-weight: 700;
    color: #C4D5ED;
    opacity: 0.5;
}

.submit-button {
    background-color: transparent;
    border: 1.5px solid #13D1FC;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    color: #13D1FC;
    border-radius: 10px;
}

.slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%; 
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
    height: 15px; 
    -webkit-appearance: none; 
    appearance: none;
    background: #C4D5ED; 
    opacity: 0.7; 
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; 
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 30px; 
    height: 30px; 
    background-image: url(images/map-pinpoint.png);
    background-size: cover;
    cursor: pointer; 
    margin-bottom: 25px
}
  
.slider::-moz-range-thumb {
    width: 30px; 
    height: 30px; 
    background-image: url(images/map-pinpoint.png);
    background-size: cover;
    cursor: pointer; 
}

main h4 {
    text-align: left; 
    font-size: 26px;
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
    /* color: white; */
    padding-left: 30px;
    padding-top: 50px;
}

.background-upcoming {
    background-color: #6680D2;
    margin-top: 50px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;      
}

.card {
    text-align: left;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color :#5A6B97;
    padding-bottom: 10px;
    border-radius: 10px;
}

.card i {
    color: #13D1FC;
    float: left;
    padding-right: 10px;
    font-size: 22px;
}

.card h5 {
    color: black;
    padding-top: 5px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.inner-container {
    margin-top: 30px
}
  
.container {
    padding: 5px 20px;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 450px) {

    .headline {
        top: 25%;
        -webkit-transition: ease-in-out 2s;
        transition: ease-in-out 2s;
    }

    .headline h1 {
        font-size: 30px;
        -webkit-transition: ease-in-out 2s;
        transition: ease-in-out 2s;
    }

}

@media screen and (min-width: 550px) {

    .headline h1 {
        font-size: 34px;
        -webkit-transition: ease-in-out 2s;
        transition: ease-in-out 2s;
    }

    main h3 {
        font-size: 20px;
        -webkit-transition: ease-in-out 2s;
        transition: ease-in-out 2s;
    }

    
    .card {
        width: 70%;
    }
}

@media screen and (min-width: 600px) {

    .background-image {
        width: 80%;
    }

    form {
        width: 500px;
        -webkit-transition: ease-in-out 2s;
        transition: ease-in-out 2s;
    }

    .card {
        width: 60%;
    }
 
}

@media screen and (min-width: 700px) {

    .headline {
        top: 30%
    }

    main h4 {
        font-size: 32px
    }

    .card {
        width: 50%;
    }
  
}

@media screen and (min-width: 750px) {

    .background-image {
        float: left;
        opacity: 1;
        width: 50%
    }

    .headline h1 {
        font-size: 42px;
    }

    .headline {
        position: static;
        text-align: left;
        line-height: 40px;
        padding-top: 30px
    }

    .hero {
        margin-bottom: 120px
    }
}

@media screen and (min-width: 800px) {

    .card {
        width: 300px;
        height: 500px;
    }

    .search-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }

    .headline {
        padding-right: 50px
    }

    .hero {
        margin-bottom: 0
    }

    main h3 {
        text-align: left;
        padding-right: 50px;
    }
}

@media screen and (min-width: 1000px) {

    .headline {
        padding-right: 100px
    }

    main h3 {
        padding-right: 100px
    }

}

@media screen and (min-width: 1100px) {

    .background-image {
        width: 40%;
    }

    .headline h1 {
        font-size: 48px
    }

    main h3 {
        font-size: 24px
    }

    form {
        width: 800px;
        -webkit-transition: ease-in-out 2s;
        transition: ease-in-out 2s;
        padding-top: 50px
    }

    .search-input::placeholder {
        font-size: 34px
    }
    
    .submit-button {
        font-size: 20px;
        padding: 10px 15px;
    }

    .search-input {
        height: 40px;
        font-size: 34px;
        padding-bottom: 10px
    }

    .slider {
        width: 70%
    }

    nav header h1 {
        margin-left: 30px
    }
    
}

